
<h2 mat-dialog-title> User Detalis </h2>
<mat-dialog-content class="mat-typography">
   
       

           
             <form>
              
                  
               <p style="font-size: 25px; color: rgb(128, 0, 100); font-weight: 800; display: block; border:2px;border-color: black; border-left: black;"> The Id is :{{this.adminServis.DetaliesId}}</p>
               <p style="font-size: 25px; color: rgb(128, 0, 100); font-weight: 800; display: block; border:2px;border-color: black;"> The Email is :{{this.adminServis.email}}</p>
               <p style="font-size: 25px; color: rgb(128, 0, 100); font-weight: 800; display: block; border:2px;border-color: black;"> The mobile is :{{this.adminServis.profileDescription}}</p>
               <p style="font-size: 25px; color: rgb(128, 0, 100); font-weight: 800; display: block; border:2px;border-color: black;"> The profileDescription is :{{this.adminServis.mobile}}</p>
              

                  
             </form>

                        
                      
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>