<h2 mat-dialog-title>Send Email</h2>
<mat-dialog-content class="mat-typography">

    <form [formGroup]="formGroup">

        <div class="row">


              

            <div class="row">
                <mat-form-field class="example-full-width">
                    <mat-label>Enter Code</mat-label>
                    <input matInput formControlName="code" style="font-size: x-large;">

                </mat-form-field>





            </div>

      </div>





    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button [disabled]="!formGroup.valid || !(formGroup.controls.code.value == auth.user.code)" mat-button [mat-dialog-close]="true" cdkFocusInitial
       (click)="NewPassword()" >Confirm</button>
</mat-dialog-actions>