<h2 mat-dialog-title>New Comment</h2>
<mat-dialog-content class="mat-typography">

    <form [formGroup]="formGroup">

        <div class="row">


              

            <div class="row">
                <mat-form-field class="example-full-width">
                    <mat-label>Comment ..</mat-label>
                    <input matInput formControlName="content" style="font-size: x-large;">

                </mat-form-field>





            </div>

      </div>





    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button [disabled]="!formGroup.valid" mat-button [mat-dialog-close]="true" cdkFocusInitial
        (click)="SaveComment()">Save</button>
</mat-dialog-actions>